:host {
	height: 12vh;
	padding: 0 3rem;
	background-color: var(--background);
}

.internal-header-container {
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo-image {
	height: 84%;
}
