
.sign-in-container {
  border-radius: 10px;
  border: 1px solid #ebebeb;
  background: var(--background);
}

.sign-in-internal-content {
  margin: 10% 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.sign-in-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.logo-image {
  max-width: 300px;
  margin: 2rem;
  width: 80%;
}

mat-error {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-form-field.last-form-field {
  margin-bottom: 2rem !important;
}
