:host {
	flex: 1;
	gap: 1rem;
	display: flex;
}

.create-new-farm {
	width: 25%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.farm-list-container {
	flex: 1;
	background-color: green;
}
